USE [master]
GO
/****** Object:  Database [EHB]    Script Date: 09.11.2021 19:03:26 ******/
CREATE DATABASE [EHB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EHB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS02\MSSQL\DATA\EHB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EHB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS02\MSSQL\DATA\EHB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EHB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EHB]
GO
/****** Object:  Table [dbo].[AnimalsSet]    Script Date: 09.11.2021 19:03:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnimalsSet](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[cattle] [int] NULL,
	[pigs] [int] NULL,
	[sheep] [int] NULL,
	[goats] [int] NULL,
	[rabbits] [int] NULL,
	[horses] [int] NULL,
	[birds] [int] NULL,
 CONSTRAINT [PK_AnimalsSet] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LandsSet]    Script Date: 09.11.2021 19:03:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LandsSet](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[number] [nvarchar](max) NOT NULL,
	[square] [float] NOT NULL,
	[owner] [bit] NOT NULL,
	[fio_owner] [nvarchar](max) NOT NULL,
	[fio_user] [nvarchar](max) NOT NULL,
	[price] [float] NOT NULL,
 CONSTRAINT [PK_LandsSet] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LPHSet]    Script Date: 09.11.2021 19:03:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LPHSet](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[personal_account] [int] NOT NULL,
	[addres] [nvarchar](max) NOT NULL,
	[date_creatoin] [datetime] NOT NULL,
	[date_deletion] [datetime] NULL,
	[Animals_Id] [int] NOT NULL,
	[Lands_Id] [int] NOT NULL,
 CONSTRAINT [PK_LPHSet] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MembersSet]    Script Date: 09.11.2021 19:03:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MembersSet](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NOT NULL,
	[surname] [nvarchar](max) NOT NULL,
	[patronymic] [nvarchar](max) NULL,
	[date_birth] [datetime] NOT NULL,
	[kinship] [nvarchar](max) NULL,
	[gender] [bit] NOT NULL,
	[senior] [bit] NOT NULL,
	[LPH_Id] [int] NOT NULL,
 CONSTRAINT [PK_MembersSet] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TechnicSet]    Script Date: 09.11.2021 19:03:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TechnicSet](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[tractors] [int] NULL,
	[combine] [int] NULL,
	[plow] [int] NULL,
	[haymaker] [int] NULL,
	[LPH_Id] [int] NOT NULL,
 CONSTRAINT [PK_TechnicSet] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsersSet]    Script Date: 09.11.2021 19:03:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersSet](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NOT NULL,
	[surname] [nvarchar](max) NOT NULL,
	[patronymic] [nvarchar](max) NULL,
	[role] [int] NOT NULL,
	[login] [nvarchar](max) NOT NULL,
	[password] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_UsersSet] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_LPHAnimals]    Script Date: 09.11.2021 19:03:26 ******/
CREATE NONCLUSTERED INDEX [IX_FK_LPHAnimals] ON [dbo].[LPHSet]
(
	[Animals_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_LPHLands]    Script Date: 09.11.2021 19:03:26 ******/
CREATE NONCLUSTERED INDEX [IX_FK_LPHLands] ON [dbo].[LPHSet]
(
	[Lands_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_LPHMembers]    Script Date: 09.11.2021 19:03:26 ******/
CREATE NONCLUSTERED INDEX [IX_FK_LPHMembers] ON [dbo].[MembersSet]
(
	[LPH_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_TechnicLPH]    Script Date: 09.11.2021 19:03:26 ******/
CREATE NONCLUSTERED INDEX [IX_FK_TechnicLPH] ON [dbo].[TechnicSet]
(
	[LPH_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LPHSet]  WITH CHECK ADD  CONSTRAINT [FK_LPHAnimals] FOREIGN KEY([Animals_Id])
REFERENCES [dbo].[AnimalsSet] ([Id])
GO
ALTER TABLE [dbo].[LPHSet] CHECK CONSTRAINT [FK_LPHAnimals]
GO
ALTER TABLE [dbo].[LPHSet]  WITH CHECK ADD  CONSTRAINT [FK_LPHLands] FOREIGN KEY([Lands_Id])
REFERENCES [dbo].[LandsSet] ([Id])
GO
ALTER TABLE [dbo].[LPHSet] CHECK CONSTRAINT [FK_LPHLands]
GO
ALTER TABLE [dbo].[MembersSet]  WITH CHECK ADD  CONSTRAINT [FK_LPHMembers] FOREIGN KEY([LPH_Id])
REFERENCES [dbo].[LPHSet] ([Id])
GO
ALTER TABLE [dbo].[MembersSet] CHECK CONSTRAINT [FK_LPHMembers]
GO
ALTER TABLE [dbo].[TechnicSet]  WITH CHECK ADD  CONSTRAINT [FK_TechnicLPH] FOREIGN KEY([LPH_Id])
REFERENCES [dbo].[LPHSet] ([Id])
GO
ALTER TABLE [dbo].[TechnicSet] CHECK CONSTRAINT [FK_TechnicLPH]
GO
USE [master]
GO
